git
pip
wget
python3
libatlas3-base
libopenblas-base
libxml2-dev
libcurl4-openssl-dev
libssl-dev
libmagick++-dev
libpoppler-cpp-dev
libsodium-dev
libudunits2-dev
libcairo2-dev
libpango1.0-dev
libjpeg-dev
libgif-dev
librsvg2-dev
libglpk-dev
libleptonica-dev
imagemagick
make
automake
ca-certificates
g++
libtool
pkg-config
